.header{
    height: 3.5rem;
    box-shadow: 1px 2px 3px rgb(165, 162, 162);
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 100;
  }
  
  .signout-button{
    background-color: orange;
  }
  
  