
<div class="top-content">
    <h1 class="track-name">{{currentTrack.name}}</h1>
    <div class="date">
    <p style="margin-bottom: 0.25rem;">Start-Date: 20/10/1999</p>
    <p>End-Date: 20/10/2021</p>
    </div>
    </div>
    
    <section class="text-gray-600 body-font" >
      <div class="container px-5 py-24 mx-auto" style="padding-top: 1rem;padding-bottom: 1rem;">
        <div class="flex flex-wrap -m-4" >
          <div class="xl:w-1/4 md:w-1/2 p-4" style="width: 34%; margin-left: -4px;">
            <div class="bg-gray-100 p-6 rounded-lg" style="border: 1px solid rgb(168, 163, 163);font-family: 'Baloo Bhai 2', cursive">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/images/Track-healper.jpg.crdownload" alt="content">
              <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Track Lead name</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Track-helper-Details </h2>
              <p class="leading-relaxed text-base">Track Helper are always available 24/7 for you any query.</p>
              <button class="view-button" (click)="alrtt();">View Details</button>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4" style="width: 33%; margin-left: -4px;">
            <div class="bg-gray-100 p-6 rounded-lg" style="border: 1px solid rgb(168, 163, 163);font-family: 'Baloo Bhai 2', cursive">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/images/study-resource.jpg" alt="content">
              <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Cura Links</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Study Resource</h2>
              <p class="leading-relaxed text-base">These Resources helps in increasing your Knowledge.</p>
              <button class="view-button"(click)="openStudyMaterial()">View Details</button>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4" style= "width: 34%; margin-left: -3px;">
            <div class="bg-gray-100 p-6 rounded-lg" style="border: 1px solid rgb(168, 163, 163);font-family: 'Baloo Bhai 2', cursive">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/images/Assignment.jpg" alt="content">
              <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">Doc File Link</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Assignment</h2>
              <p class="leading-relaxed text-base">Please Submit Assignment before deadline to avoid any problem.</p>
              <button class="view-button" >View Details</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    
