<app-header></app-header>

  <div class="total" >
    <div class="TicketNo"> <div class="tick-text" >Ticket No</div>&nbsp;&nbsp;
     </div>&nbsp;&nbsp;

    Name-&nbsp;&nbsp;
    <input type="text" class="f" name="gname" required><br><br>&nbsp;&nbsp;
    Track-&nbsp;&nbsp;
    <input type="text"class="f" name="gname" required><br><br>&nbsp;&nbsp;

    Meeting Link&nbsp;
    <input type="text"class="f" name="gname" required><br><br>&nbsp;&nbsp;
     Status&nbsp;&nbsp;
    <input type="text" class="f" name="gname" required><br><br>&nbsp;&nbsp;
    <div class="check"> <button class="check-text" >Complete</button>&nbsp;&nbsp;&nbsp;
      <button class="check-text" >Activate</button>
 </div>
</div>
 <div class="cardblock">
    <div class="cardd"><a routerLink="/details"></a>
        <div class="blank"><img src="./assets/ticket.jpg" ></div>
        <div class="material">
           <div class="ticket">Ticket No</div>
                 <div class="LinkerName">Linker1</div>
                 <a routerLink="/addexpense"><button class="react1" >Accept</button></a>
        </div>
      </div>
    </div>



